$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #fff;
$primary-black-color: #000;
$primary-background-color: #2f303a;
$secondary-backgound: #f5f4fa;
